*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: cadetblue;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 70vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: red;
}

#reset-btn, #new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: azure;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin: 0.5rem; 
}

#msg{
    color: azure;
    font-size: 5vmin;
    margin-top: 1rem;
}

.msg-container{
    height: 20vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}
